!premake5.lua
Thumbs.db
ehthumbs.db
Desktop.ini
*.cab
*.msi
*.msm
*.msp
*.vcxproj*
.DS_Store
.AppleDouble
.LSOverride
.vs
.vscode
.xmake/*
vsxmake2019/*
vs2019/*
package/*
build/*
bin*
project_*/*
android-project/app/build/
android-project/build/
android-project/.gradle/
android-project/.idea
src_dependency/wxWidgets/*
src_dependency/openal-soft/*
src_dependency/SDL2/*
!src_dependency/wxWidgets/premake5.lua
!src_dependency/openal-soft/premake5.lua
!src_dependency/SDL2/premake5.lua

src_dependency_android/SDL2/*
!src_dependency_android/SDL2/premake5.lua
src_dependency_android/openal-soft/*
!src_dependency_android/openal-soft/premake5.lua
!src_dependency_android/openal-soft/config.h
!src_dependency_android/openal-soft/hrtf_default.h
!src_dependency_android/openal-soft/version.h
