Thumbs.db
ehthumbs.db
Desktop.ini
*.cab
*.msi
*.msm
*.msp
.DS_Store
.AppleDouble
.LSOverride
.vs

*.user
*.tlog
*.obj
*.manifest
*.lastbuildstate
*.cache
*.pdb
*.log
*.sdf
*.opensdf
*.opendb
*.tlog
*.ipch
*.suo
*.vcxproj.user
*.so
*.res
*.o
*.idb
*.lib
*.exp
*.exe
*.aps
libs/
libs_android/
plugins/
Release*/
Debug*/
ipch/
nbproject/
gamebin/
src_dependency/
packages/
utils/driver_level*/
obj/
android-project/app/
android-project/build/
android-project/.gradle/
android-project/.idea/caches
*.*~
