Thumbs.db
ehthumbs.db
Desktop.ini
*.cab
*.msi
*.msm
*.msp
*.vcxproj*
.DS_Store
.AppleDouble
.LSOverride
.vs
.vscode
.xmake/*
vsxmake2019/*
vs2019/*
package/*
build/*
bin/*
src_dependency/wxWidgets/*
src_dependency/openal-soft/*