[submodule "game/DriverSyndicate"]
	path = game/DriverSyndicate
	url = https://github.com/InspirationByte/DriversGame.git

[submodule "src_dependency/oolua"]
	path = src_dependency/oolua
	url = https://github.com/SoapyMan/oolua.git