//
// Core and it's modules configuration file
//
// WARNING! DON'T DELETE
//

// Filesystem module settings
FileSystem
{
	Android_AppDir		"/Android/data/com.insbyte.driversyndicate";

	EngineDataDir		"EqBase";
	DefaultGameDir	 	"GameData";

	// if you have problems with saved games, you can change save directory
	// change this to zero, and all profile data will save to "<game dir>/SavedGames"
	UserFilesInMyDocuments	1;

	//AddPackage		engine.eqpak;
};

// debugging settings, may be ignored
ApplicationDebug
{
	//DeveloperMode "matsys";
	PrintLeaksOnExit;
	ForceLogApplications "game" "egfman" "editor" "viewer" "maketree";
};

// Regional settings (localization, eg.)
RegionalSettings
{
	// it's used for language of the game, and also uses as prefix to the *.ltx file names.
	DefaultLanguage		"russian";

	// voice language
	AudioLanguage		"russian";
};
